<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Employees</title>
</head>
<body>
<!--/*@thymesVar id="employee" type="com.chixsaw.tickettool.model.Employee"*/-->
<h2>Employees</h2>
<table>
    <thead>
    <th>Username</th>
    <th>Password</th>
    <th>E-Mail</th>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.username}">username</td>
        <td th:text="${employee.password}">password</td>
        <td th:text="${employee.mail}">mail</td>
    </tr>
    </tbody>
</table>
</body>
</html>